body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    color: #000000 84%;
    display: flex;
    justify-content: center;
    /* min-width: 1050px; */
}

@media(min-width:601px){
    .grid-layout{
        display: grid;
        /* justify-content: center; */
        grid-template-columns: auto auto auto auto auto auto;
        grid-gap: 15px;
        grid-auto-rows: 200px 200px 200px 200px 200px 80px;
        grid-auto-flow:dense;
        padding: 10px;
    }}

@media(min-width:1200px){
    .grid-layout{
            display: grid;
            /* justify-content: center; */
            grid-template-columns: 160px 160px 160px 160px 160px 160px;
            grid-gap: 15px;
            grid-auto-rows: 200px 200px 200px 200px 200px 80px;
            /* grid-auto-rows: minmax(200px, auto); */
            grid-auto-flow:dense;
            padding: 10px;
    }}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    text-transform: lowercase;
    background-color: #eea5b5;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 300px;
    max-width: 350px;
}

/* ---------------------ABOUT CARD------------------------- */

.span-2x6 {
    grid-column-end: span 2;
    grid-row-end: span 3;
    background-color: #f2f2f2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 350px; */
}

#profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.grid-item-1 h1{
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}

.grid-item-1 h2{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

/* --------------------PROJECT CARDS---------------------- */

.span-2x2 {
    grid-column-end: span 2;
    grid-row-end: span 1;
    border-radius: 20px 20px 20px 60px;
    box-shadow: 0px 3px 12px grey;
    justify-content: flex-end;
}

.span-2x2-2 {
    grid-column-end: span 2;
    grid-row-end: span 1;
    border-radius: 60px 20px 20px 20px;
    box-shadow: 0px 3px 12px grey;
    justify-content: flex-end;
}

.span-2x4 {
    grid-column-end: span 2;
    grid-row-end: span 2;
    border-radius: 20px 20px 60px 20px;
    box-shadow: 0px 3px 12px grey;
}
/* .span-2x4:hover{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-image: url("images/item2_hover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  } */

.span-4x2 {
    grid-column-end: span 4;
    grid-row-end: span 1;
    border-radius: 20px 20px 20px 60px;
    box-shadow: 0px 3px 12px grey;
    justify-content: flex-end;
    max-width: 680px;
}
/* ----------------------CARD IMAGES----------------------- */

.grid-item-2{
    background-image: url("images/card_lnfy.png")
}
.grid-item-2:hover{
    background-image: url("images/card_lnfy_hover.png")
}
.grid-item-3{
    background-image: url("images/card_wili.png");
}
.grid-item-3:hover{
    background-image: url("images/card_wili_hover.png");
}
.grid-item-4{
    background-image: url("images/card_xmas.png");
}
.grid-item-4:hover{
    background-image: url("images/card_xmas_hover.png");
}
.grid-item-5{
    background-image: url("images/card_ftc.png");
}
.grid-item-5:hover{
    background-image: url("images/card_ftc_hover.png");
}
.grid-item-6{
    background-image: url("images/card_huli.png");
}
.grid-item-6:hover{
    background-image: url("images/card_huli_hover.png");
}
.grid-item-7{
    background-image: url("images/card_tgthr.png");
}
.grid-item-7:hover{
    background-image: url("images/card_tgthr_hover.png");
}
.grid-item-8{
    background-image: url("images/card_mp.png");
}
.grid-item-8:hover{
    background-image: url("images/card_mp_hover.png");
}
.grid-item-9{
    background-image: url("images/card_val.png");
}
.grid-item-9:hover{
    background-image: url("images/card_val_hover.png");
}


/* --------------------------NAVIGATION-------------------------- */

footer{
    position: fixed;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    left:0;
    bottom:0;
    height: 75px;
    width: 100%;
    min-width: 1050px;
    background-color: white;
    box-shadow: 0px -3px 12px grey;
}

.nav{
    display: flex;
    /* flex-direction: row; */
    padding: 15px;
}

.nav:hover{
    font-style: italic;
    color: lightpink;
    cursor: pointer;
}

/* #spacer{
    visibility: hidden;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    color: magenta;
    height: 75px;
    width: 10px;
    margin: 15px; 
} */

/* -------------------TEXT/FONT FORMATTING---------------------- */

h1{
    display: table;
    padding: 7px;
    background-color: white;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
h2{
    display: table;
    padding: 7px 14px 7px 7px;
    background-color: white;
    font-weight: 100;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}
.project{
    display: table;
    padding: 7px;
    background-color: white;
    color:black;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-right: 0;
}

.category{
    display: table;
    padding: 5px;
    background-color: white;
    color:black;
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-right: 0;
}

.cardTitle{
    /* opacity: 0; */
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}   
.cardTitle p{
    margin: 5px;
}

h6{
    display: table;
    padding: 7px;
    background-color: white;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}

.grid-item h6{
    position: absolute;
    float: right;
}

h5{
    font-weight: 300;
    text-transform: initial;
    font-size: 20px;
    text-align: center;
}

/* -------------------MOBILE---------------------- */

@media(max-width:600px){
    .grid-layout{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        grid-auto-rows: minmax(200px, auto);
        grid-auto-flow:dense;
        padding: 10px;
    }
    .span-4x2 {
        grid-column-end: span 2;
        grid-row-end: span 1;
        border-radius: 20px 20px 20px 60px;
        box-shadow: 0px 3px 12px grey;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: flex-end;
    }
    .category{
        background-color: lightpink;
        color:white;
    }

    .project{
        background-color: lightpink;
        color:white;
    }
}