body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    color: #000000 84%;
}

@media(min-width:601px){
    .grid-layout{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-gap: 15px;
        grid-auto-rows: minmax(200px, auto);
        grid-auto-flow:dense;
        padding: 10px;
    }}

@media(min-width:1200px){
    .grid-layout{
            display: grid;
            grid-template-columns: 160px 160px 160px 160px 160px 160px;
            grid-gap: 15px;
            grid-auto-rows: minmax(200px, auto);
            grid-auto-flow:dense;
            padding: 10px;
    }}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    text-transform: lowercase;
    background-color: #eea5b5;
    position: relative;
}

.span-2x2 {
    grid-column-end: span 2;
    grid-row-end: span 1;
    border-radius: 20px 20px 20px 60px;
    box-shadow: 0px 3px 12px grey;
}
.span-2x2-2 {
    grid-column-end: span 2;
    grid-row-end: span 1;
    border-radius: 60px 20px 20px 20px;
    box-shadow: 0px 3px 12px grey;
}

.grid-item-3{
    background-image: url("images/");
}

.span-2x4 {
    grid-column-end: span 2;
    grid-row-end: span 2;
    border-radius: 20px 20px 60px 20px;
    box-shadow: 0px 3px 12px grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-item-2{
    background-image: url("images/item2.png");
}

/* .span-2x4:hover{
    background-image: url("images/item2_hover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  } */

.span-2x6 {
    grid-column-end: span 2;
    grid-row-end: span 3;
    background-color: #f2f2f2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
}
.grid-item-1 h1{
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}
.grid-item-1 h2{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
.span-4x2 {
    grid-column-end: span 4;
    grid-row-end: span 1;
    border-radius: 20px 20px 20px 60px;
    box-shadow: 0px 3px 12px grey;
}

#profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media(max-width:600px){
    .grid-layout{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        grid-auto-rows: minmax(200px, auto);
        grid-auto-flow:dense;
        padding: 10px;
    }
    .span-4x2 {
        grid-column-end: span 2;
        grid-row-end: span 1;
        border-radius: 20px 20px 20px 60px;
        box-shadow: 0px 3px 12px grey;
    }
}

h1{
    display: table;
    padding: 7px;
    background-color: white;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
h2{
    display: table;
    padding: 7px;
    background-color: white;
    font-weight: 100;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    display: table;
    padding: 7px;
    background-color: white;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}

.grid-item h3{
    float: right;
}    

h6{
    display: table;
    padding: 7px;
    background-color: white;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}

.grid-item h6{
    position: absolute;
    float: right;
}
h5{
    font-weight: 300;
    text-transform: initial;
    font-size: 20px;
    text-align: center;
}